#headerAnimation {
    height: 130px;
    max-height: 130px;
    width: 130px;
    margin: auto;
}

#headerAnimation>svg {
    opacity: 0;
    animation: appear 0.2s ease 0.5s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.95;
    }

    100% {
        opacity: 1;
        scale: 1
    }
}

#eventHeader {
    font-size: large;
    font-weight: bold;
}

main>p,
main>div,
main>button {
    font-size: larger;
}

.eventDetail {
    margin-bottom: 5px;
}

#eventActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    bottom: 8px;
    left: 24px;
    right: 24px;
    transition: all 0.3s ease;
}

#eventActions>button {
    width: 100%;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    border: none;
    font-weight: bolder;
}

.eventDetail>span {
    transition: all 0.2s ease;
}

.eventDetail>span.loading {
    height: 14px;
    width: 80px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    background-color: gray;
}

.eventDetail>span.loading::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    transform: translateX(-100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: shimmer 1s infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

#eventActions.loading {
    opacity: 0;
    bottom: 0;
}