body {
    margin-top: 8px;
}

.sectionTitle {
    font-size: large;
    font-weight: bold;
}

#eventsForDay {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#eventsForDayList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dayEventRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.dayEventRow>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.dayEventRowWindow {
    font-weight: bold;
}

.dayEvent {
    width: 100%;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    transition: all 0.2s ease;
}

.dayEvent>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dayEventArrowIcon {
    width: 16px;
    height: 16px;
    background-color: var(--tg-theme-button-text-color);
    mask: url(/assets/images/chevron-right.svg) no-repeat center / contain;
    -webkit-mask: url(/assets/images/chevron-right.svg) no-repeat center / contain;
}

.dayEventStub {
    opacity: 0.3;
    cursor: not-allowed;
}

.dayEventPerson {
    font-weight: 600;
}

.dayEventTime {
    font-weight: 400;
}

#tabBar {
    width: 100%;
    height: 40px;
    max-height: 40px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
}

#tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab {
    width: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease;
}

.tabIcon {
    width: 24px;
    height: 24px;
}

.tabIcon>svg {
    opacity: 0;
    animation: appear 0.2s ease forwards;
}

.tabIcon>svg path {
    fill: var(--tg-theme-text-color);
    stroke: var(--tg-theme-text-color);
}

.tabTitle {
    font-weight: bold;
}

.tab.current .tabIcon>svg path {
    fill: var(--tg-theme-button-color);
    stroke: var(--tg-theme-button-color);
}

.tab.current .tabTitle {
    color: var(--tg-theme-button-color);
}

#tabBarIndicatorContainer {
    width: 50%;
    transition: all 0.2s ease;
}

#tabBarIndicator {
    width: 50%;
    margin: auto;
    height: 3px;
    margin-top: 2px;
    max-height: 3px;
    background-color: var(--tg-theme-button-color);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.tabContent {
    display: block;
}

.tabContent.inactive {
    display: none;
}

#profileName {
    font-size: large;
}

#profileNameValue {
    margin-top: 5px;
}

#scheduleSettingsWeekNames {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.settingsWeekDayName {
    padding: 5px;
    width: 35px;
    height: 35px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: small;
    line-height: 36px;
    border-radius: 50%;
    font-size: large;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    transition: all 0.2s ease;
    cursor: pointer;
}

.settingsWeekDayName.unavailable {
    opacity: 0.5;
}

#scheduleTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.scheduleType {
    width: 100%;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.scheduleType.active {
    border: 2px solid var(--tg-theme-text-color);
}

.scheduleTypeTitle {
    font-size: larger;
    font-weight: bold;
}

.scheduleTypeIcon {
    width: 24px;
    height: 24px;
}

#scheduleTypeTimeFrame {
    width: 100%;
    height: 36px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 5px;
    transition: all 0.2s ease;
}

#timeFrameLine {
    width: 64%;
    height: 100%;
    background-color: var(--tg-theme-button-color);
    opacity: 0.9;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#timeFrameLine.early {
    margin-left: 0%;
}

#timeFrameLine.default {
    margin-left: 14%;
}

#timeFrameLine.late {
    margin-left: 36%;
}

#timeFrameTimes {
    width: 100%;
    height: 100%;
    line-height: 36px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: var(--tg-theme-button-text-color);
}

#profileNameInput {
    width: calc(100% - 16px);
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--tg-theme-text-color);
    background-color: transparent;
    color: var(--tg-theme-text-color);
    font-size: large;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#profileNameInput:hover {
    border: 1px solid var(--tg-theme-button-color);
}