.scheduleStep {
    font-size: large;
    transition: all 0.2s ease;
}

.scheduleStep.hidden {
    opacity: 0;
    margin-top: -10px;
}

.scheduleWeekDays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . .";
}

.weekDay {
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: large;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    transition: all 0.2s ease;
    cursor: pointer;
}

.weekDay.today {
    background-color: transparent;
    border: 2px solid var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}

.weekDay.selected {
    border: 2px solid var(--tg-theme-text-color);
    font-weight: bold;
}

.weekDay.unavailable {
    cursor: not-allowed;
    opacity: 0.5;
}

.scheduleWeekNames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . .";
    margin-bottom: 10px;
}

.weekDayName {
    text-align: center;
    font-size: large;
    font-weight: bold;
    height: 20px !important;
}

.weekDayName.weekend {
    font-weight: normal;
}

#scheduleTimeSelectorContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#scheduleTimeSelectorContainer {
    width: 100%;
}

#scheduleTimeSelectorContainer>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--tg-theme-text-color);
    background-color: transparent;
    color: var(--tg-theme-text-color);
    font-size: large;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align-last: center;
    font-weight: bold;
}

#scheduleTimeSelectorContainer>select::-ms-expand {
    display: none;
}

#scheduleTimeSelectorContainer>select:hover {
    border: 1px solid var(--tg-theme-button-color);
}


#scheduleTimeSelectorContainer>select>option {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

#phoneIcon {
    width: 30px;
    height: 100%;
    margin-right: 10px;
}

#scheduleConfirmationContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    flex-wrap: wrap;
    gap: 10px;
}

#scheduleSummaryInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#scheduleConfirmationDateTime {
    opacity: 1;
    transition: all 0.2s 0.25s ease;
}

#scheduleConfirmationDuration {
    opacity: 1;
    transition: all 0.2s 0.35s ease;
}

#scheduleConfirmationUser {
    opacity: 1;
    transition: all 0.2s 0.45s ease;
}

.scheduleStep[data-step="3"].hidden #scheduleConfirmationDateTime {
    opacity: 0;
    margin-top: 15px;
}

.scheduleStep[data-step="3"].hidden #scheduleConfirmationDuration {
    opacity: 0;
    margin-top: 15px;
}

.scheduleStep[data-step="3"].hidden #scheduleConfirmationUser {
    opacity: 0;
    margin-top: 15px;
}